<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm data-testid="login-form">
    <ion-list>
      <ion-item>
        <ion-input
          data-testid="username-input"
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          data-testid="password-input"
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      data-testid="signin-button"
      (click)="signin()"
      [disabled]="!loginForm.checkValidity()"
    >
      Sign in
    </ion-button>
  </form>
</ion-content>
