<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list data-testid="photo-list">
    <ion-item
      *ngFor="let photo of (photos$ | async)"
      data-testid="photo-link"
      [routerLink]="['/users', userId, 'albums', albumId, 'photos', photo.id]"
    >
      <ion-label data-testid="photo-title">{{ photo.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
