<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list data-testid="comment-list">
    <ion-item
      *ngFor="let comment of (comments$ | async)"
      data-testid="comment-link"
      [routerLink]="
        albumId && photoId
          ? [
              '/users',
              userId,
              'albums',
              albumId,
              'photos',
              photoId,
              'comments',
              comment.id
            ]
          : ['/users', userId, 'comments', comment.id]
      "
    >
      <ion-label data-testid="comment-message">{{ comment.message }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
