<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list data-testid="album-list">
    <ion-item
      *ngFor="let album of (albums$ | async)"
      data-testid="album-link"
      [routerLink]="['/users', userId, 'albums', album.id]"
    >
      <ion-label data-testid="album-title">{{ album.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
